## 테스트

In [4]:
import requests

url = "http://data.ex.co.kr/openapi/trtm/realUnitTrtm?key=1308370912&type=json&iStartUnitCode=101&iEndUnitCode=103"
req = requests.get(url)
print(req)

<Response [200]>

In [5]:
json_df = req.json()
json_df

{'count': 520,
 'pageNo': 1,
 'numOfRows': 10,
 'pageSize': 52,
 'realUnitTrtmVO': [{'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '8.025',
   'timeMax': '11.150',
   'timeMin': '5.933',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:15',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '75',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '8.083333333333334',
   'timeMax': '11.150',
   'timeMin': '6.166',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:20',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '17',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '7.95',
   'timeMax': '9.866',
   'timeMin': '6.416',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:25',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '14',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '7.908333333333333',
   'timeMax': '10.100',
   'timeMin': '5.883',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:30',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '71',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '7.816666666666666',
   'timeMax': '10.066',
   'timeMin': '5.983',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:35',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '19',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '7.8',
   'timeMax': '10.100',
   'timeMin': '6.150',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:40',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '14',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '7.741666666666666',
   'timeMax': '9.950',
   'timeMin': '5.916',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:45',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '68',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '7.633333333333334',
   'timeMax': '9.950',
   'timeMin': '5.916',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:50',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '12',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '7.683333333333334',
   'timeMax': '9.750',
   'timeMin': '6.166',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '00:55',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '20',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230807',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '7.75',
   'timeMax': '10.516',
   'timeMin': '5.916',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '01  ',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '128',
   'iStartEndStdTypeCode': None}],
 'message': '인증키가 유효합니다.',
 'code': 'SUCCESS'}

## 미션
- JSON 데이터를 pandas 데이터 프레임으로 가공

In [6]:
import pandas as pd

df = json_df['realUnitTrtmVO']
pd.DataFrame(df)

,pageNo,numOfRows,startUnitCode,endUnitCode,stdDate,sumTmUnitTypeCode,startEndStdTypeCode,timeAvg,timeMax,timeMin,...,stdTime,startUnitNm,endUnitNm,startEndStdTypeNm,tcsCarTypeName,tcsCarTypeCode,tcsCarTypeDivName,tcsCarTypeDivCode,efcvTrfl,iStartEndStdTypeCode
0,None,None,101,103,20230807,None,2,8.025,11.150,5.933,...,00:15,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,75,None
1,None,None,101,103,20230807,None,2,8.083333333333334,11.150,6.166,...,00:20,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,17,None
2,None,None,101,103,20230807,None,2,7.95,9.866,6.416,...,00:25,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,14,None
3,None,None,101,103,20230807,None,2,7.908333333333333,10.100,5.883,...,00:30,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,71,None
4,None,None,101,103,20230807,None,2,7.816666666666666,10.066,5.983,...,00:35,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,19,None
5,None,None,101,103,20230807,None,2,7.8,10.100,6.150,...,00:40,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,14,None
6,None,None,101,103,20230807,None,2,7.741666666666666,9.950,5.916,...,00:45,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,68,None
7,None,None,101,103,20230807,None,2,7.633333333333334,9.950,5.916,...,00:50,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,12,None
8,None,None,101,103,20230807,None,2,7.683333333333334,9.750,6.166,...,00:55,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,20,None
9,None,None,101,103,20230807,None,2,7.75,10.516,5.916,...,01,서울,수원신갈,도착기준통행시간,1종,1,소형차,1,128,None

In [ ]:
records = []
for df in dfs:
    row_dict = {}
    row_dict["date"] = df["stdDate"]
    row_dict["timeAvg"] = df[""]

In [45]:
import requests
import lxml
from bs4 import BeautifulSoup

url = "http://data.ex.co.kr/openapi/trtm/realUnitTrtm?key=1308370912&type=xml&iStartUnitCode=101&iEndUnitCode=103"
req = requests.get(url)

soup = BeautifulSoup(req.text, "lxml")
# print(soup.prettify())

stddate_list = soup.find_all("stddate")
timeAvg_list = soup.find_all("timeavg")

stddate = []
avgTime = []
for date, timeAvg in zip(stddate_list, timeAvg_list):
    # print(date.get_text(), timeAvg.get_text())
    stddate.append(date.get_text())
    avgTime.append(timeAvg.get_text())

df = pd.DataFrame({"date" : stddate, "avgTime" : avgTime})
df

       date            avgTime
0  20230807                7.8
1  20230807               7.85
2  20230807  7.833333333333333
3  20230807  7.616666666666666
4  20230807  7.566666666666666
5  20230807                7.8
6  20230807  8.208333333333334
7  20230807  8.083333333333334
8  20230807  7.716666666666667
9  20230807  7.883333333333334

In [46]:
import pandas as pd
import xml.etree.ElementTree as ET
import requests
url = "http://data.ex.co.kr/openapi/trtm/realUnitTrtm?key=1308370912&type=xml&iStartUnitCode=101&iEndUnitCode=103"
response = requests.get(url)
root = ET.fromstring(response.content)
data_1 = [
    {element.tag: element.text for element in realUnitTrtmVO}
    for realUnitTrtmVO in root.findall('.//realUnitTrtmVO')
]
pd.DataFrame(data_1)

,efcvTrfl,endUnitCode,endUnitNm,startEndStdTypeCode,startEndStdTypeNm,startUnitCode,startUnitNm,stdDate,stdTime,tcsCarTypeCode,tcsCarTypeDivCode,tcsCarTypeDivName,tcsCarTypeName,timeAvg,timeMax,timeMin
0,56,103,수원신갈,2,도착기준통행시간,101,서울,20230807,08:10,1,1,소형차,1종,13.366666666666667,13.900,11.633
1,195,103,수원신갈,2,도착기준통행시간,101,서울,20230807,08:15,1,1,소형차,1종,12.858333333333333,14.883,9.733
2,48,103,수원신갈,2,도착기준통행시간,101,서울,20230807,08:20,1,1,소형차,1종,12.8,13.950,11.166
3,47,103,수원신갈,2,도착기준통행시간,101,서울,20230807,08:25,1,1,소형차,1종,12.333333333333334,14.700,9.733
4,164,103,수원신갈,2,도착기준통행시간,101,서울,20230807,08:30,1,1,소형차,1종,11.933333333333334,12.200,8.783
5,44,103,수원신갈,2,도착기준통행시간,101,서울,20230807,08:35,1,1,소형차,1종,11.45,12.166,8.783
6,26,103,수원신갈,2,도착기준통행시간,101,서울,20230807,08:40,1,1,소형차,1종,10.833333333333334,11.133,8.800
7,158,103,수원신갈,2,도착기준통행시간,101,서울,20230807,08:45,1,1,소형차,1종,10.725,11.300,7.950
8,50,103,수원신갈,2,도착기준통행시간,101,서울,20230807,08:50,1,1,소형차,1종,9.983333333333333,11.300,8.366
9,34,103,수원신갈,2,도착기준통행시간,101,서울,20230807,08:55,1,1,소형차,1종,9.75,10.516,8.033

In [41]:
%%timeit

import requests
import pandas as pd
import xml.etree.ElementTree as ET
url = "http://data.ex.co.kr/openapi/trtm/realUnitTrtm?key=1308370912&type=xml&iStartUnitCode=101&iEndUnitCode=103&numOfRows=10&pageNo=1"
req2 = requests.get(url)
root = ET.fromstring(req2.content)
print(root)
data_list = []
for item in root.findall(".//realUnitTrtmVO"):
    data = {}
    for child in item:
        data[child.tag] = child.text
    data_list.append(data)
df_xml = pd.DataFrame(data_list)
df_xml

<Element 'data' at 0x000001C2F3133130>
<Element 'data' at 0x000001C2F34919F0>
<Element 'data' at 0x000001C2F3133CC0>
<Element 'data' at 0x000001C2F3491F40>
<Element 'data' at 0x000001C2F3133F40>
<Element 'data' at 0x000001C2F34914A0>
<Element 'data' at 0x000001C2F3133AE0>
<Element 'data' at 0x000001C2F3491C20>
1.11 s ± 103 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)